@{ Layout = "~/Views/Shared/_rootLayout.cshtml"; }

@RenderSection("LeftPanel", false)
    <div class="contentPane">
        @RenderBody()
    </div>

@RenderSection("RightPanel", false)

@RenderSection("FooterPanel", false)
